<h1>All Questions</h1>

<div>
  <small>No. of Questions = <%= @questions.count %></small>
</div>

<% @questions.each do |q| %>
  <div>

    <%= link_to question_path(q) do %>
      <%= q.title %>
      <% if q.image.present? %>
        <%= image_tag q.image.url(:thumb) %>
      <% end %>
    <% end %>

  </div>
<% end %>
