<!-- index - action name | html - format | erb - template system -->

<h1>Hello World</h1>

<button class="btn btn-primary" id="clickie">Click Me</button>

<%= image_tag "steak.jpg" %>

<%= react_component "HelloWorld", name: "Jane" %>
